MetadataTranscoderTestHarness/MetadataTranscoderTestHarness.xcodeproj/xcuserdata
MetadataTranscoderTestHarness/MetadataTranscoderTestHarness.xcodeproj/project.xcworkspace/xcuserdata
Synopsis/Synopsis.xcodeproj/project.xcworkspace/xcuserdata
Synopsis/Synopsis.xcodeproj/xcuserdata
Synopsis/TensorFlowAnalyzer/models
