MetadataTranscoderTestHarness/MetadataTranscoderTestHarness.xcodeproj/xcuserdata
MetadataTranscoderTestHarness/MetadataTranscoderTestHarness.xcodeproj/project.xcworkspace/xcuserdata
Synopsis/Synopsis.xcodeproj/project.xcworkspace/xcuserdata
Synopsis/Synopsis.xcodeproj/xcuserdata
Synopsis/TensorFlowAnalyzer/models
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_calib3d.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_core.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_features2d.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_flann.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_highgui.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_imgcodecs.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_imgproc.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_ml.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_objdetect.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_photo.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_shape.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_stitching.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_superres.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_ts.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_video.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_videoio.a
Synopsis/StandardAnalyzer/OpenCV/_oldlib/libopencv_videostab.a
