<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeepBeliefAnalyzer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>StandardAnalyzer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Synopsis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SynopsisImporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TensorFlowAnalyzer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B007EBF1B4D7D0900DE6E98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0A02AD1DDAE4DD00F542F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B61BCE01ACF06A70013418D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B61BCF81ACF26710013418D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA8F83A1C138B330066BDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEA4D181ACB2BCC00AB57C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
